*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html, body {
  height: 100%;
  scroll-behavior: smooth; }

html {
  font-size: 62.5%; }
  @media screen and (max-width: 850px) {
    html {
      font-size: 56.25%; } }

body {
  position: relative;
  font-family: "Tinos", serif;
  background-color: #FEFEFE; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif; }

h1 {
  font-size: 2.6rem; }

h2 {
  font-size: 2.4rem; }

h3 {
  font-size: 2.2rem; }

p, li, a {
  font-size: 1.8rem; }

ul {
  list-style: none; }

a:link, a:visited {
  text-decoration: none;
  font-weight: 600;
  font-size: inherit; }

a:hover, a:active {
  color: #0767b2; }

.container .form-group label,
.form-group .form-control,
.form-group .form-text, .btn, .card a.btn:link, .card a.btn:visited {
  font-size: 1.8rem;
  font-family: "Open Sans", sans-serif; }

.container .form-group .form-check-label,
.container .form-group .form-text {
  font-size: 1.6rem;
  margin-left: 5px; }

.jumbotron {
  width: 60%;
  margin: 0 auto; }

.card {
  width: 50%;
  margin: 0 auto; }
  .card .card-title {
    font-size: 2.2rem; }
    .card .card-title span {
      color: #00b894; }

.welcome {
  display: flex; }
  @media screen and (max-width: 850px) {
    .welcome {
      flex-direction: column-reverse; } }
  .welcome__left, .welcome__right {
    width: 50%;
    height: 100vh; }
  .welcome__left {
    background: linear-gradient(to right, #4a7c41d3, #17664cc5), url(../img/bg_img/simone-hutsch-1420289-unsplash.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media screen and (max-width: 850px) {
      .welcome__left {
        width: 100%;
        height: 30vh;
        padding: 3rem; } }
  .welcome__list-item {
    font-size: 2rem;
    font-weight: 600;
    color: #FEFEFE;
    margin-bottom: 1.5rem;
    letter-spacing: 1.5px; }
  .welcome__right {
    width: 50%;
    padding: 5rem 8rem; }
    @media screen and (max-width: 850px) {
      .welcome__right {
        width: 100%;
        min-height: 70vh; } }
    .welcome__right-title {
      font-weight: 600;
      margin-bottom: 1.5rem; }
    .welcome__right-desc {
      font-size: 2rem;
      margin-bottom: 2rem; }
  .welcome__form {
    margin: 5rem auto;
    font-family: "Open Sans", sans-serif; }
    .welcome__form #staticEmail2, .welcome__form #inputPassword2, .welcome__form .btn-primary {
      font-size: 1.8rem; }
  .welcome .welcomebtn {
    display: block;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    font-family: "Open Sans", sans-serif; }

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 2rem; }
  .header__nav-primarylist, .header__nav-secondarylist {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: baseline; }
  @media screen and (max-width: 1050px) {
    .header__nav-primarylist {
      width: 35%; } }
  .header__nav-secondarylist {
    width: 20%; }
    @media screen and (max-width: 1050px) {
      .header__nav-secondarylist {
        width: 25%; } }
  .header__nav-brand {
    font-size: 2.2rem; }
    .header__nav-brand a {
      color: #00b894; }

.header__search {
  width: 30%; }
  .header__search input[type=search] {
    padding: 3px 5px;
    border: 1.2px solid #0984e3;
    font: inherit;
    font-size: 1.8rem;
    transition: all .3s; }
    .header__search input[type=search]:focus {
      outline: none;
      border: 1.2px solid #00b894;
      box-shadow: 1px 1.5px 2px rgba(0, 0, 0, 0.4); }
  .header__search-btn {
    padding: 3px 5px;
    border: 1.2px solid #065999;
    font-size: 1.8rem;
    background-color: #00b894;
    color: #FEFEFE;
    transition: all .3s; }
    .header__search-btn:hover {
      background-color: #00856b; }

.login {
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 450px) {
    .login {
      padding: 2rem; } }
  .login__title {
    font-weight: 600;
    margin-bottom: 3rem; }
  .login .container {
    width: 40%; }
    @media screen and (max-width: 700px) {
      .login .container {
        width: 60%; } }
    @media screen and (max-width: 550px) {
      .login .container {
        width: 80%; } }
    @media screen and (max-width: 450px) {
      .login .container {
        width: 100%; } }
    .login .container .card {
      margin-top: 3rem;
      width: 100%; }
    .login .container .card .card-title, .login .container .card-body .card-title {
      font-size: 2rem; }
    .login .container .card .buttons, .login .container .card-body .buttons {
      text-align: center; }
      .login .container .card .buttons .btn, .login .container .card-body .buttons .btn {
        font-size: 1.6rem;
        font-family: "Open Sans", sans-serif; }

.categories ul {
  width: 80%;
  margin: 5rem auto;
  display: flex;
  justify-content: space-between; }
  .categories ul li {
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 1.4rem; }
    .categories ul li a.active:link, .categories ul li a.active:visited {
      color: #00b894;
      padding-bottom: .5px;
      border-bottom: 1.5px solid currentColor; }

.card-welcome {
  padding: 3rem;
  background-color: papayawhip; }

.mainpage {
  margin: 5rem 0;
  padding: 5rem;
  display: flex;
  justify-content: space-between; }
  .mainpage__left {
    width: 65%; }
  .mainpage__right {
    width: 25%; }
  .mainpage__title {
    font-size: 2.2rem;
    font-weight: 600;
    padding-bottom: 1.5rem;
    position: relative; }
    .mainpage__title::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1.5px;
      width: 100%;
      background: linear-gradient(to right, #0984e3, rgba(0, 184, 148, 0.3)); }

.footer {
  width: 100%;
  background-color: #0984e3;
  color: #FEFEFE; }
