*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

html, body {
  height: 100%;
  scroll-behavior: smooth; }

html {
  font-size: 62.5%; }
  @media screen and (max-width: 850px) {
    html {
      font-size: 56.25%; } }

body {
  position: relative;
  font-family: "Tinos", serif;
  background-color: #f3f3f3; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif; }

h1 {
  font-size: 2.6rem; }

h2 {
  font-size: 2.4rem; }

h3 {
  font-size: 2.2rem; }

p, li, a {
  font-size: 1.8rem; }

ul {
  list-style: none; }

a:link, a:visited {
  text-decoration: none;
  font-weight: 600;
  font-size: inherit; }

a:hover, a:active {
  color: #0767b2; }

.container .form-group label,
.form-group .form-control,
.form-group .form-text, .btn, .card a.btn:link, .card a.btn:visited {
  font-size: 1.8rem;
  font-family: "Open Sans", sans-serif; }

.container .form-group .form-check-label,
.container .form-group .form-text {
  font-size: 1.6rem;
  margin-left: 5px; }

.jumbotron {
  width: 60%;
  margin: 0 auto; }

.alert {
  font-size: 2rem; }

.card {
  width: 50%;
  margin: 0 auto; }
  .card .card-title {
    font-size: 2.2rem; }
    .card .card-title span {
      color: #00b894; }

.welcome {
  display: flex; }
  @media screen and (max-width: 850px) {
    .welcome {
      flex-direction: column-reverse; } }
  .welcome__left, .welcome__right {
    width: 50%;
    height: 100vh; }
    @media screen and (max-width: 850px) {
      .welcome__left, .welcome__right {
        height: 100%; } }
  .welcome__left {
    background: linear-gradient(to right, #4a7c41d3, #17664cc5), url(../img/bg_img/simone-hutsch-1420289-unsplash.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media screen and (max-width: 850px) {
      .welcome__left {
        width: 100%;
        height: 30vh;
        padding: 3rem; } }
  .welcome__list-item {
    font-size: 2rem;
    font-weight: 600;
    color: #f3f3f3;
    margin-bottom: 1.5rem;
    letter-spacing: 1.5px; }
  .welcome__right {
    width: 50%;
    padding: 5rem 8rem; }
    @media screen and (max-width: 850px) {
      .welcome__right {
        width: 100%;
        min-height: 70vh; } }
    .welcome__right-title {
      font-weight: 600;
      margin-bottom: 1.5rem; }
    .welcome__right-desc {
      font-size: 2rem;
      margin-bottom: 2rem; }
  .welcome__form {
    margin: 5rem auto;
    font-family: "Open Sans", sans-serif; }
    .welcome__form #staticEmail2, .welcome__form #inputPassword2, .welcome__form .btn-primary {
      font-size: 1.8rem; }
  .welcome .welcomebtn {
    display: block;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    font-family: "Open Sans", sans-serif; }

.header .navbar {
  align-items: baseline; }
  .header .navbar .nav-item a:link, .header .navbar .nav-item a:visited {
    font-family: "Open Sans", sans-serif;
    font-size: 1.6rem; }
  .header .navbar input[type=search] {
    font-size: 1.6rem;
    font-family: "Open Sans", sans-serif; }
  .header .navbar .categoriesdropdown {
    display: none; }
    @media screen and (max-width: 700px) {
      .header .navbar .categoriesdropdown {
        display: block; } }

.header .navbar-brand {
  font-size: 2.2rem; }

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 2rem; }
  .header__nav-primarylist, .header__nav-secondarylist {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: baseline; }
  @media screen and (max-width: 1050px) {
    .header__nav-primarylist {
      width: 35%; } }
  .header__nav-secondarylist {
    width: 30%;
    align-items: center; }
    @media screen and (max-width: 1050px) {
      .header__nav-secondarylist {
        width: 25%; } }
    .header__nav-secondarylist li a:link span, .header__nav-secondarylist li a:visited span {
      color: #00b894; }
    .header__nav-secondarylist li .addpost {
      color: #00b894;
      transition: all .3s; }
      .header__nav-secondarylist li .addpost:hover {
        color: #00856b; }
  .header__nav-brand {
    font-size: 2.2rem; }
    .header__nav-brand a {
      color: #00b894; }

.header__search {
  width: 30%; }
  .header__search input[type=search] {
    padding: 3px 5px;
    border: 1.2px solid #0984e3;
    font: inherit;
    font-size: 1.8rem;
    transition: all .3s; }
    .header__search input[type=search]:focus {
      outline: none;
      border: 1.2px solid #00b894;
      box-shadow: 1px 1.5px 2px rgba(0, 0, 0, 0.4); }
  .header__search-btn {
    padding: 3px 5px;
    border: 1.2px solid #065999;
    font-size: 1.8rem;
    background-color: #00b894;
    color: #f3f3f3;
    transition: all .3s; }
    .header__search-btn:hover {
      background-color: #00856b; }

.login {
  margin-top: 5rem;
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 450px) {
    .login {
      padding: 2rem; } }
  .login__title {
    font-weight: 600;
    margin-bottom: 3rem; }
  .login .container {
    width: 40%; }
    @media screen and (max-width: 700px) {
      .login .container {
        width: 60%; } }
    @media screen and (max-width: 550px) {
      .login .container {
        width: 80%; } }
    @media screen and (max-width: 450px) {
      .login .container {
        width: 100%; } }
    .login .container .card {
      margin-top: 3rem;
      width: 100%; }
    .login .container .card .card-title, .login .container .card-body .card-title {
      font-size: 2rem; }
    .login .container .card .buttons, .login .container .card-body .buttons {
      text-align: center; }
      .login .container .card .buttons .btn, .login .container .card-body .buttons .btn {
        font-size: 1.6rem;
        font-family: "Open Sans", sans-serif; }

.categories {
  margin-top: 12rem; }
  @media screen and (max-width: 700px) {
    .categories {
      display: none; } }
  .categories ul {
    width: 80%;
    margin: 5rem auto;
    display: flex;
    justify-content: space-between; }
    .categories ul li {
      text-transform: uppercase;
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 1.4rem; }
      .categories ul li a.active:link, .categories ul li a.active:visited {
        color: #00b894;
        padding-bottom: .5px;
        border-bottom: 1.5px solid currentColor; }

.card-welcome {
  padding: 3rem;
  background-color: papayawhip; }
  @media screen and (max-width: 700px) {
    .card-welcome {
      margin-top: 12rem; } }
  @media screen and (max-width: 500px) {
    .card-welcome {
      width: 80%; } }
  @media screen and (max-width: 500px) {
    .card-welcome {
      width: 90%; } }

.userlist {
  margin: 4rem auto;
  text-align: center;
  padding: .7rem; }
  .userlist .collapse, .userlist .multi-collapse {
    font-size: 1.8rem;
    text-align: left; }
  @media screen and (max-width: 500px) {
    .userlist .card.card-body {
      width: 90%; } }
  .userlist .accordion .cardwrapper {
    width: 80%; }
    @media screen and (max-width: 500px) {
      .userlist .accordion .cardwrapper {
        width: 100%; } }
    .userlist .accordion .cardwrapper h3 {
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 1rem; }
    .userlist .accordion .cardwrapper .showprofile {
      display: inline-block;
      margin-left: 1rem;
      font-size: 1.4rem;
      padding: 3px;
      background-color: #0984e3;
      transition: all .3s; }
      .userlist .accordion .cardwrapper .showprofile a:link, .userlist .accordion .cardwrapper .showprofile a:visited {
        color: #f3f3f3; }
      .userlist .accordion .cardwrapper .showprofile:hover {
        background-color: #065999; }
    .userlist .accordion .cardwrapper ol {
      list-style-type: decimal; }
    .userlist .accordion .cardwrapper p {
      margin-bottom: 0; }
      .userlist .accordion .cardwrapper p .userpostlink {
        margin-bottom: .5rem; }
      .userlist .accordion .cardwrapper p span.userpostdate {
        margin-left: 1rem;
        margin-bottom: 1rem;
        font-size: 1.2rem;
        padding: 3px;
        background-color: rgba(0, 184, 148, 0.3);
        color: #232323;
        box-shadow: 0.5px 0.5px 1px #00b894; }

.mainpage {
  margin: 5rem 0;
  padding: 5rem;
  display: flex;
  justify-content: space-between; }
  @media screen and (max-width: 700px) {
    .mainpage {
      flex-direction: column; } }
  .mainpage__left {
    width: 65%; }
    @media screen and (max-width: 700px) {
      .mainpage__left {
        width: 100%; } }
  .mainpage__right {
    width: 25%; }
    @media screen and (max-width: 700px) {
      .mainpage__right {
        width: 50%;
        margin: 0 auto;
        margin-top: 3rem; } }
    @media screen and (max-width: 700px) {
      .mainpage__right {
        width: 100%; } }
  .mainpage__title {
    font-size: 2.2rem;
    font-weight: 600;
    padding-bottom: 1.5rem;
    position: relative;
    line-height: 1.7em; }
    .mainpage__title span {
      color: #00b894; }
    .mainpage__title::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1.5px;
      width: 100%;
      background: linear-gradient(to right, #00b894, rgba(214, 48, 49, 0.8)); }
  .mainpage__article {
    padding: 3rem 0; }
    .mainpage__article-title {
      font-size: 2.2rem;
      font-weight: 600;
      margin-bottom: 1rem; }
    .mainpage__article-desc {
      font-size: 1.8rem;
      opacity: .9; }
    .mainpage__article-author {
      font-weight: 600;
      margin-bottom: 0; }
      .mainpage__article-author span {
        color: #0984e3; }
    .mainpage__article-category {
      font-weight: 600; }
      .mainpage__article-category span {
        background-color: #00b894;
        font-size: 1.4rem;
        font-weight: 300;
        font-family: "Open Sans", sans-serif;
        color: #f3f3f3;
        padding: 2px 3px; }
    .mainpage__article-date, .mainpage__article-read {
      display: inline-block;
      margin-right: .5rem;
      font-size: 1.6rem; }
    .mainpage__article-read {
      color: #00b894; }
      .mainpage__article-read::before {
        content: "\2014";
        color: rgba(51, 51, 51, 0.5);
        margin-right: 6px; }
    .mainpage__article-visits {
      display: inline-block;
      font-size: 1.6rem;
      color: #0984e3;
      background-color: rgba(0, 184, 148, 0.3);
      padding: 3px;
      border: 0.5px solid #00b894; }
      .mainpage__article-visits span {
        font-weight: bold; }
    .mainpage__article-readbtn:link, .mainpage__article-readbtn:visited {
      display: block;
      width: 90px;
      font-size: 1.6rem; }
  .mainpage__article:not(:last-child) {
    border-bottom: 0.3px solid rgba(51, 51, 51, 0.6); }
  .mainpage .amountusers, .mainpage .amountposts, .mainpage .mostread {
    padding: 2rem 0; }
    .mainpage .amountusers h2, .mainpage .amountposts h2, .mainpage .mostread h2 {
      font-size: 1.8rem;
      font-weight: 600;
      margin-bottom: 1rem; }
  .mainpage .amountusers, .mainpage .amountposts {
    padding-bottom: 1rem;
    border-bottom: 0.5px dotted #0984e3; }
    .mainpage .amountusers .info span, .mainpage .amountposts .info span {
      font-weight: 600;
      color: #0984e3; }
  .mainpage .mostread ul li {
    margin-bottom: 1rem; }
    .mainpage .mostread ul li p {
      margin: 0; }
    .mainpage .mostread ul li .popularcategory:link, .mainpage .mostread ul li .popularcategory:visited {
      font-size: 1.8rem;
      font-weight: bold;
      color: #0984e3;
      transition: all .3s; }
    .mainpage .mostread ul li .popularcategory:hover, .mainpage .mostread ul li .popularcategory:active {
      color: #065999; }
    .mainpage .mostread ul li .amountcategoryposts {
      font-size: 1.5rem;
      color: #d63031; }
      .mainpage .mostread ul li .amountcategoryposts span {
        font-weight: 600;
        color: #00b894; }
    .mainpage .mostread ul li .reads {
      color: #0984e3;
      font-size: 1.5rem; }
  .mainpage .usersicon, .mainpage .fireicon, .mainpage .posticon {
    font-size: 4rem;
    margin-bottom: 1.5rem; }
  .mainpage .posticon {
    color: #0984e3; }
  .mainpage .usersicon {
    color: #00b894; }
  .mainpage .fireicon {
    color: #d63031; }

.footer {
  width: 100%;
  background-color: #0984e3;
  color: #f3f3f3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 5rem; }
  .footer ul {
    margin-bottom: 2rem; }
    .footer ul li a:link, .footer ul li a:visited {
      color: #f3f3f3;
      transition: all .3s; }
    .footer ul li a:hover, .footer ul li a:active {
      color: #dadada; }
  .footer .copyright {
    color: #f3f3f3;
    font-size: 1.6rem; }

#FormControlFile1, #fileToUpload {
  font-size: 1.6rem; }

.has-error input[type="text"], .has-error input[type="email"], .has-error input[type="password"], .has-error select {
  border: 1px solid #a94442; }

.help-block {
  color: #d63031; }

#addPost #modalTitle, #addPost #createModalTitle, #editPost #modalTitle, #editPost #createModalTitle {
  font-size: 2.2rem; }

#addPost .modal-body label, #editPost .modal-body label {
  font-size: 1.8rem;
  font-family: "Open Sans", sans-serif; }

#addPost .modal-body .form-control, #editPost .modal-body .form-control {
  font-family: "Tinos", serif; }

.post {
  width: 70%;
  min-height: 90vh;
  padding: 5rem 15%;
  margin: 0 auto; }
  @media screen and (max-width: 700px) {
    .post {
      padding: 5rem 2rem;
      width: 80%; } }
  @media screen and (max-width: 500px) {
    .post {
      width: 100%; } }
  .post__title {
    font-weight: 600;
    margin-bottom: 2.5rem; }
  .post__desc {
    opacity: .8;
    font-size: 2rem;
    margin-bottom: 1.5rem; }
  .post__category {
    font-weight: 600;
    margin-bottom: 2rem; }
    .post__category span {
      background-color: #00b894;
      font-size: 1.4rem;
      font-weight: 300;
      font-family: "Open Sans", sans-serif;
      color: #f3f3f3;
      padding: 3px 5px; }
  .post__visits {
    font-size: 1.6rem;
    margin-bottom: 2.5rem; }
    .post__visits span {
      color: #0984e3; }
  .post__author {
    display: flex;
    margin-bottom: 1rem; }
    .post__author .post__authorimg {
      width: 7rem;
      height: 7rem;
      background-image: url(../img/userimgs/yamo93.jpeg);
      background-size: cover;
      background-position: center; }
    .post__author .post__authorinfo {
      margin-left: 1.5rem; }
      .post__author .post__authorinfo .post__authorname, .post__author .post__authorinfo .post__date, .post__author .post__authorinfo .post__read {
        font-size: 1.4rem;
        margin-bottom: .5rem; }
      .post__author .post__authorinfo .post__authorname span {
        font-weight: 600;
        color: #0984e3; }
      .post__author .post__authorinfo .post__read {
        color: #00b894; }
  .post__para {
    width: 90%; }
  .post .editbtn, .post .deletebtn {
    margin-bottom: 3rem; }
  .post .editbtn {
    margin-right: 2rem; }
  .post .reactions {
    display: flex; }
    .post .reactions .like {
      margin-right: 2rem; }
    .post .reactions .like span, .post .reactions .dislike span {
      font-size: 1.6rem;
      padding: 2px 5px;
      background-color: #f3f3f3;
      box-shadow: .5px .5px .5px #333; }
    .post .reactions .likelink, .post .reactions .dislikelink {
      border: none;
      padding: 2px 3px;
      background-color: inherit;
      font-size: 1.6rem;
      margin-right: .5rem;
      transition: all .3s;
      transform: translateY(0); }
      .post .reactions .likelink:focus, .post .reactions .dislikelink:focus {
        outline: none; }
      .post .reactions .likelink:active, .post .reactions .dislikelink:active {
        transform: translateY(5px); }
    .post .reactions .hasreacted {
      font-weight: bold;
      font-size: 1.8rem; }
    .post .reactions .likelink {
      color: #00b894; }
    .post .reactions .dislikelink {
      color: red; }

a.returnbtn:link, a.returnbtn:visited {
  font-size: 1.6rem; }

.commentsection {
  width: 100%;
  height: 100%;
  margin: 5rem 0; }
  .commentsection__title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem; }
  .commentsection .commentbox {
    background-color: rgba(204, 204, 204, 0.5);
    padding: 3rem;
    margin-bottom: 2.5rem;
    display: flex;
    justify-content: space-between; }
    .commentsection .commentbox__left {
      width: 20%; }
    .commentsection .commentbox__img {
      width: 8rem;
      height: 8rem;
      background-image: url(../img/userimgs/yamo93.jpeg);
      background-position: center;
      background-size: cover; }
    .commentsection .commentbox__right {
      width: 70%; }
      .commentsection .commentbox__right #commentfield {
        width: 100%;
        font-size: 1.6rem;
        padding: .5rem; }
      .commentsection .commentbox__right .alertmsgcomment {
        font-size: 1.4rem;
        font-weight: bold;
        margin-bottom: .5rem; }
      .commentsection .commentbox__right .alertmsgempty {
        color: #d63031; }
      .commentsection .commentbox__right .alertmsgsuccess {
        color: #00b894; }
    .commentsection .commentbox__submit {
      display: block;
      width: 100%;
      text-align: center;
      padding: 1rem 2.5rem;
      background-color: #0984e3;
      color: #f3f3f3;
      font-size: 1.4rem;
      font-family: "Open Sans", sans-serif;
      border: 0.5px solid #f3f3f3;
      transition: all .3s; }
      .commentsection .commentbox__submit:hover {
        background-color: #065999; }
  .commentsection .comments {
    width: 100%;
    padding: 2.5rem 1rem; }
    .commentsection .comments .comment {
      display: flex;
      justify-content: space-between;
      padding: 2rem 0;
      border-bottom: 1px dotted #00b894; }
      .commentsection .comments .comment__left {
        width: 15%; }
        .commentsection .comments .comment__left .comment__img {
          width: 6rem;
          height: 6rem;
          background-image: url(../img/userimgs/yamo93.jpeg);
          background-position: center;
          background-size: cover; }
      .commentsection .comments .comment__right {
        width: 80%; }
      .commentsection .comments .comment__author {
        font-size: 1.8rem;
        font-weight: bold;
        color: #065999; }
        .commentsection .comments .comment__author span {
          font-size: 1.6rem;
          color: rgba(0, 184, 148, 0.8); }
      .commentsection .comments .comment__text {
        font-size: 1.6rem;
        line-height: 1.6em; }
      .commentsection .comments .comment__date {
        font-size: 1.4rem;
        font-weight: 600;
        font-family: "Open Sans", sans-serif;
        color: #0984e3; }

.profile {
  width: 80%;
  min-height: 50vh;
  padding: 2rem 15%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media screen and (max-width: 700px) {
    .profile {
      margin-top: 7rem;
      padding: 2rem 3rem;
      min-height: none;
      height: 80%; } }
  @media screen and (max-width: 500px) {
    .profile {
      justify-content: flex-start;
      width: 100%; } }
  @media screen and (max-width: 400px) {
    .profile {
      padding: 1.5rem 2rem; } }
  .profile__title {
    font-weight: 600;
    margin-bottom: 2.5rem; }
  .profile__img {
    width: 9rem;
    height: 9rem;
    margin-bottom: 3rem;
    border-radius: 50%;
    box-shadow: 1px 1px 1.5px rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-position: center; }
    .profile__img .name {
      background-color: #00b894;
      width: 100%;
      height: 100%;
      color: #f3f3f3;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .profile__img .name p {
        font-size: 4rem; }
  .profile .imageformwrapper {
    padding: 3rem;
    background-color: #f3f3f3;
    border: 0.5px solid rgba(9, 132, 227, 0.8);
    margin-bottom: 4rem;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; }
    .profile .imageformwrapper h2 {
      text-align: center;
      font-size: 2rem;
      font-weight: bold;
      margin-bottom: 1rem; }
    .profile .imageformwrapper form {
      font-size: 1.6rem;
      text-align: center; }
      .profile .imageformwrapper form label {
        font-size: 1.6rem;
        margin-right: .5rem; }
      .profile .imageformwrapper form input[type=file] {
        margin: 1rem auto;
        display: inline-block; }
      .profile .imageformwrapper form input[name=updateimg] {
        display: block;
        margin: 0 auto;
        margin-top: 1.5rem;
        font-size: 1.6rem; }
  .profile__info {
    width: 100%;
    border: 0.5px solid #00b894;
    box-shadow: 1px 1px 1.5px rgba(0, 0, 0, 0.3);
    background-color: papayawhip;
    padding: 3rem 2rem;
    margin-bottom: 4rem; }
    .profile__info .titlewrapper {
      text-align: center; }
    .profile__info-title {
      display: inline-block;
      font-size: 2rem;
      margin-bottom: 2.5rem;
      padding-bottom: .5rem;
      border-bottom: 1.5px solid #0984e3; }
  .profile__fullname-text, .profile__username-text, .profile__registerdate-text, .profile__amountposts-text, .profile__amountcomments-text {
    font-size: 1.8rem;
    color: #065999; }
    .profile__fullname-text span, .profile__username-text span, .profile__registerdate-text span, .profile__amountposts-text span, .profile__amountcomments-text span {
      display: inline-block;
      margin-left: 5px;
      font-weight: bold;
      color: #232323; }
