.categories {
    margin-top: 12rem;

    @media screen and (max-width: 700px) {
        display: none;
    }

    ul {
        width: 80%;
        margin: 5rem auto;
        display: flex;
        justify-content: space-between;

        li {
            text-transform: uppercase;
            font-family: $secondary-font;
            font-weight: 600;
            font-size: 1.4rem;

            a.active:link, a.active:visited {
                color: $mintgreen;
                padding-bottom: .5px;
                border-bottom: 1.5px solid currentColor;

            }
        }
    }
}

.card-welcome {
    padding: 3rem;
    background-color: papayawhip;

    @media screen and (max-width: 700px) {
        margin-top: 12rem;
    }

    @media screen and (max-width: 500px) {
        width: 80%;
    }
    @media screen and (max-width: 500px) {
        width: 90%;
    }
}

.userlist {
    margin: 4rem auto;
    text-align: center;
    padding: .7rem;

    .collapse, .multi-collapse {
        font-size: 1.8rem;
        text-align: left;
    }

    .card.card-body {
        width: 80%;
        @media screen and (max-width: 500px) {
            width: 90%;
        }
    }

    .accordion .cardwrapper {
        width: 80%;

        @media screen and (max-width: 500px) {
            width: 100%;
        }

        h3 {
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 1rem;
        }

        .showprofile {
            display: inline-block;
            margin-left: 1rem;
            font-size: 1.4rem;
            padding: 3px;
            background-color: $electronblue;
            transition: all .3s;
            
            a:link, a:visited {
                color: $white;
            }

            &:hover {
                background-color: darken($electronblue, 15%);
            }
        }

        ol {
            list-style-type: decimal;
        }

        p {
            margin-bottom: 0;

            .userpostlink {
                margin-bottom: .5rem;
                // display: flex;
                // justify-content: space-between;
                // flex-wrap: wrap;
    
            }
    
            span.userpostdate {
                margin-left: 1rem;
                margin-bottom: 1rem;
                font-size: 1.2rem;
                padding: 3px;
                background-color: rgba($mintgreen, .3);
                color: $black;
                box-shadow: .5px .5px 1px $mintgreen;
            }

        }


    }
}

.mainpage {
    margin: 5rem 0;
    padding: 5rem;
    display: flex;
    justify-content: space-between;

    @media screen and (max-width: 700px) {
        flex-direction: column;
    }

    &__left {
        width: 65%;

        @media screen and (max-width: 700px) {
            width: 100%;
        }
    }

    &__right {
        width: 25%;

        @media screen and (max-width: 700px) {
            width: 50%;
            margin: 0 auto;
            margin-top: 3rem;
        }

        @media screen and (max-width: 700px) {
            width: 100%;
        }
    }

    &__title {
        font-size: 2.2rem;
        font-weight: 600;
        padding-bottom: 1.5rem;
        position: relative;
        line-height: 1.7em;

        span {
            color: $mintgreen;
        }

        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            height: 1.5px;
            width: 100%;
            background: linear-gradient(to right, rgba($mintgreen, 1), rgba($red, .8));
        }
    }

    &__article {
        padding: 3rem 0;

        &-title {
            font-size: 2.2rem;
            font-weight: 600;
            margin-bottom: 1rem;
        }

        &-desc {
            font-size: 1.8rem;
            opacity: .9;
        }

        &-author {
            font-weight: 600;
            margin-bottom: 0;

            span {
                color: $electronblue;
            }
        }

        &-category {
            font-weight: 600;

            span {
                background-color: $mintgreen;
                font-size: 1.4rem;
                font-weight: 300;
                font-family: $secondary-font;
                color: $white;
                padding: 2px 3px;

                a:link, a:visited {
                    color: inherit;
                }
            }
        }

        &-date, &-read {
            display: inline-block;
            margin-right: .5rem;
            font-size: 1.6rem;
        }

        &-read {
            color: $mintgreen;

            &::before {
                content: "\2014";
                color: rgba(#333, .5);
                margin-right: 6px;
            }
        }

        &-visits {
            display: inline-block;
            font-size: 1.6rem;
            color: $electronblue;
            background-color: rgba($mintgreen, .3);
            padding: 3px;
            border: .5px solid $mintgreen;

            span { font-weight: bold; }
        }

        .buttons {
            display: flex;
        }

        &-readbtn:link, &-readbtn:visited, &-addbookmark {
            display: block;
            width: 90px;
            font-size: 1.6rem;
        }

        &-readbtn:link, &-readbtn:visited {
            margin-right: 2rem;
        }
    }

    &__article:not(:last-child) {
        border-bottom: .3px solid rgba(#333, .6);
    }

    .amountusers, .amountposts, .mostread {
        padding: 2rem 0;

        h2 {
            font-size: 1.8rem;
            font-weight: 600;
            margin-bottom: 1rem;
        }
    }

    .amountusers, .mostread, .amountposts {
        padding-bottom: 1rem;
        border-bottom: .5px dotted $electronblue;

        .info {
            span {
                font-weight: 600;
                color: $electronblue;
            }
        }
    }

    .amountposts {
        border-bottom: none;
    }

    .mostread {
        ul {

            li {
                margin-bottom: 1rem;
                p {
                    margin: 0;
                }

                .popularcategory {
                    &:link, &:visited {
                        font-size: 1.8rem;
                        font-weight: bold;
                        color: $electronblue;
                        transition: all .3s;
                    }

                    &:hover, &:active {
                        color: darken($electronblue, 15%);
                    }
                }

                .amountcategoryposts {
                    font-size: 1.5rem;
                    color: $red;

                    span {
                        font-weight: 600;
                        color: $mintgreen;
                    }
                }

                .reads {
                    color: $electronblue;
                    font-size: 1.5rem;
                }
            }
        }
    }

    .usersicon, .fireicon, .posticon {
        font-size: 4rem;
        margin-bottom: 1.5rem;
    }

    .posticon {
        color: $electronblue;
    }

    .usersicon {
        color: $mintgreen;
    }

    .fireicon {
        color: $red;
    }


}

